# Compiled class file
*.class
*.sdi
*.ibt

# MySQL/InnoDB
ib_logfile*
ibdata*

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

HELP.md

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Docker ###
# Ignore any local database data directories
**/mysql/

# Ignore local volume data for services
**/volume-data/

# Ignore local MongoDB data for product-service
**/product-service/data/
